language: java

before_script:
  - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then bash trigger-android-build.sh ${CIRCLE_CI_TOKEN} || travis_terminate 1; fi'

script:
  - travis_wait 30 mvn clean verify
